@{
    ViewBag.Title = "Cliente";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <h4>Empresas asociadas </h4>
    <hr />
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Content/bootstrap-select.min.css" />

        <form>
            <div class="form-group">
                <label for="user">Nombre:</label>
                <input type="text" class="form-control" id="user">
            </div>
            <div class="form-group">
                <label for="pwd">Primer Apellido:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Segundo Apellido:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Email:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Telefono:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Puesto:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Cliente a quien pertenece:</label>
                <input type="text" class="form-control" id="pwd">
            </div>

            <button type="submit" class="btn btn-default"> <a href="Principal.html">Guardar</a></button>
        </form>

</div>
