@{
    ViewBag.Title = "Cliente";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <h4>Todas las personas asociadas a empresas registradas </h4>
    <hr />

    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link  href="Content/bootstrap-select.min.css" rel="stylesheet">

    <form>
        <div class="form-group">
            <label for="user">Nombre:</label>
            <input type="text" class="form-control" id="user">
        </div>
        <div class="form-group">
            <label for="user">Cedula Juridica:</label>
            <input type="text" class="form-control" id="user">
        </div>
        <div class="form-group">
            <label for="pwd">Pagina:</label>
            <input type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Residencia:</label>
            <input type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Telefono:</label>
            <input type="text" class="form-control" id="pwd">
        </div>

        <div class="container">
            <div class="dropdown">
                <label>Sector:</label>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    <!-- Add header here -->
                  
                    <li><a href="#"> Educación</a></li>
                    <li><a href="#">Industria</a></li>
                    <li><a href="#">Agricultura</a></li>
                    <li><a href="#">Manufactura</a></li>
                    <li><a href="#">Servicios</a></li>
                </ul>

            </div>
        </div>

    </form>

</div>
