@{
    ViewBag.Title = "TablaClientes";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <hr />
    <i class="fa fa-plus-square-o" style="font-size:36px;"></i>

    <div class="container">
        <h2>Clientes Registrados</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>N° Juridico</th>
                    <th>Pagina Web</th>
                    <th>Residencia</th>
                    <th>Telefono</th>
                    <th>Sector</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Copelesca S.A</td>
                    <td>123456789</td>
                    <td>www.copelesca.com</td>
                    <td>Cuidad Quesada</td>
                    <td>24777012</td>
                    <td>Servicios</td>
                    <td><a href="/Clientes/Cliente">Editar - </a><a href="#" , onclick="myFunction()">Eliminar</a></td>
                </tr>
                <tr>
                    <td>ICE</td>
                    <td>987654321</td>
                    <td>www.ice.com</td>
                    <td>San Ramón</td>
                    <td>22500101</td>
                    <td>Servicios</td>
                    <td><a href="/Clientes/Cliente">Editar - </a><a href="#" , onclick="myFunction()">Eliminar</a></td>

                </tr>
            </tbody>
        </table>
    </div>

    <div>
        
   <script>
    function myFunction() {
    var txt;
    var r = confirm("Seguro que desea eliminar este asociado?");
    if (r == true) {
        var r = confirm("El asociado fue eliminada con exito!");
    } else {

    }
}
        </script>
    </div>
    </div>

