@{
    ViewBag.Title = "PrincipalUsuario";
}

<div class="row">
    <div class="col-md-4">
        <br /> <br /> <br />
        <p><a class="btn btn-default" href="/Clientes/TablaClientes">Clientes &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <br /> <br /> <br />
       <p><a class="btn btn-default" href="/Contactoes/TablaContactos">Contactos &raquo;</a></p>
    </div>

    <div class="col-md-4"> 
        <br /> <br /> <br />
        <p><a class="btn btn-default" href="/Reunions/TablaReuniones">Reuniones &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <br /> <br /> <br />
        <p><a class="btn btn-default" href="/Soportes/TablaSoporte">Soporte &raquo;</a></p>
    </div>
</div>