@{
    ViewBag.Title = "TablaSoporte";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <hr />
    <i class="fa fa-plus-square-o" style="font-size:36px;"></i>

    <div class="container">
        <h2>Solicitud de Soporte</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Problema</th>
                    <th>Descrpción</th>
                    <th>Persona que Reporta</th>
                    <th>Estado Actual</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Problema con el wi-fi</td>
                    <td>No aparece mi red</td>
                    <td>Ferny Barrantes Quesada</td>
                    <td>En Proceso</td>
                    <td><a href="Soporte">Editar - </a><a href="#" , onclick="myFunction()">Eliminar</a></td>
                </tr>
             
            </tbody>
        </table>
    </div>

    <div>
        <script>
function myFunction() {
    var txt;
    var r = confirm("Seguro que desea eliminar esta cita?");
    if (r == true) {
        var r = confirm("Su cita fue eliminada con exito!");
    } else {

    }
}
        </script>
    </div>

</div>
