@{
    ViewBag.Title = "Reunion";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <hr />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Content/bootstrap-select.min.css" />

        <form>
            <div class="form-group">
                <label for="user">Titulo de la Reunion:</label>
                <input type="text" class="form-control" id="user">
            </div>
            <div class="form-group">
                <label for="pwd">Dia:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Hora:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Empleado Asignado:</label>
                <select class="selectpicker" multiple title="Choose one of the following...">
                    <option>Jose</option>
                    <option>Ana</option>
                    <option>Sofia</option>
                </select>

            </div>
            <div class="form-group">
                <label for="pwd">Cliente a quien pertenece:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Virtual</label>
            </div>

            <button type="submit" class="btn btn-default"> <a href="Principal.html">Guardar</a></button>
        </form>

</div>
