@{
    ViewBag.Title = "TablaReuniones";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <hr />

    <i class="fa fa-plus-square-o" style="font-size:36px;"></i>

    <div class="container">
        <h2>Programa de Reuniones</h2>
        <br /> <br /> 

        <button type="submit" class="btn btn-default"> <a href="Reunion">Agregar</a></button>
        <br /> <br /> 

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Titúlo de la Reunión</th>
                    <th>Día</th>
                    <th>Hora</th>
                    <th>Empleado Asociado</th>
                    <th>Tipo de Reunión</th>
                    <th>Cliente Pertenece</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lanzamiento Nuevo Producto</td>
                    <td>25/07/2017</td>
                    <td>2:30PM</td>
                    <td>207530426</td>
                    <td>Virtual</td>
                    <td>ICE</td>
                    <td><a href="/Reunions/Reunion">Editar - </a><a href="#" , onclick="myFunction()">Eliminar</a></td>
                </tr>
               
            </tbody>
        </table>
    </div>

    <div>
        <script>
function myFunction() {
    var txt;
    var r = confirm("Seguro que desea eliminar esta cita?");
    if (r == true) {
        var r = confirm("Su cita fue eliminada con exito!");
    } else {

    }
}
        </script>
    </div>
    </div>

</div>
